.exam-list-item{
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  height: 80px;
  width: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s;
  border-radius: 4px;
  font-size: 18px;
  margin:10px 0;
  &:hover {
    // background: rgba(0,0,0,.08);
    transform: translate3d(2px, 2px, 4px);
    font-weight: 700;
  }
  .word{
    cursor: pointer;
  }
  .translate{
    cursor: pointer;
  }
  .index{
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    left: 20px;
    top: 0px;
    color: #1A2CBA;
  }
  .input-area {
    width: 80%;
    input {
      font-size:28px;
      background: rgba(255,255,255, 0.6);
    }
  }
}