.exam{
  padding: 0 20px 20px 20px;
  background-image: url(../../assert/bg.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  background-color: #EDFBF9;
  height: 100%;
  overflow-y: auto;
}